.header {
  background-color: #009ee4;
}

.header__nav {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0 10px;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.header__btn_main_enter {
  width: 224px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
}

.btn_hov01:hover {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #ffffff;
}

.btn_hov02:hover {
  background-color: #0080c1;
}

.header__btn_putAd {
  width: 232px;
  height: 40px;
}

.header__btn_lk,
.header__btn_putAd {
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
}

.header__btn_lk {
  width: 173px;
  height: 40px;
  margin-left: 10px;
}
